@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");
.img-logo{
    height: 30px;
}
.header_area{
    position: relative;
    width: 100%;
    background: #fff;
}
.header_area .navbar {
    background: transparent;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
}
.header_area .menu_nav {
    width: 100%;
}
.header_area .navbar .nav .nav-item {
    margin-right: 45px;
}
.header_area .navbar .nav .nav-item:hover .nav-link, .header_area .navbar .nav .nav-item.active .nav-link {
    color: #010101;
}
.header_area .navbar .nav .nav-item .nav-link {
    font: 500 14px/100px "Rubik", sans-serif;
    text-transform: uppercase;
    color: #999;
    padding: 0px;
    display: inline-block;
}
body{
    /*background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);*/
}

.daktilo-h3{
    font-size: 42px;
    margin-bottom: 20px;
    color: #1565C0;
    position: relative;
}
.section-title h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 6px;
    color: #000;
    letter-spacing: 0.3px;
    padding: 0;
}
.section-title::after {
    content: "";
    height: 3px;
    background: #fbb900;
    width: 80px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
/****************/
/*	 BX-SLIDER 	*/
/****************/
section.client {
	padding:4em 0em;
	background-color: #eee;

}
section.client .section-title {
	margin-bottom: 6em;
}
.bx-controls {
    position: relative;
}
.bx-wrapper .bx-pager {
    text-align: center;
    padding-top: 30px;
}
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.slide>img{
    width:72px;
    height: 72px;
}



.single-feature {
    text-align: center;
    padding: 55px 30px 35px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: #252f5a;
    border-radius: 10px;
}
.single-feature .icon{
   width: 125px;
    height: 125px;
    line-height: 180px;
    margin-bottom: 37px;
    position: relative;
      display: inline-flex;
    justify-content: center;
    align-items: center;
  
}


.single-feature .icon::before {
    position: absolute;
    content: "";
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border: 1px dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 1;
}
.single-feature .icon::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 10px solid #1c2748;
    border-radius: 50%;
}
.single-feature .content .title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 15px;
}
.single-feature .content .link {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    text-transform: uppercase;
    color: #a1aed4;
    margin-bottom: 0px;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.single-feature:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}





/*one box*/
.single-feature .icon.one i{
  font-size:50px;
  color:#f9314b;
}
.single-feature .icon.one {
    border: 7px solid #f9314b;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(249, 49, 75, 0.2), 0px 0px 0px 15px rgba(249, 49, 75, 0.2);
     box-shadow: 0px 0px 0px 15px rgba(249, 49, 75, 0.2), 0px 0px 0px 15px rgba(249, 49, 75, 0.2); 
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
   
}
.single-feature:hover .icon.one {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(249, 49, 75, 0.2), 0px 0px 0px 30px rgba(249, 49, 75, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(249, 49, 75, 0.2), 0px 0px 0px 30px rgba(249, 49, 75, 0.2);
}
/*two box*/
.single-feature .icon.two {
    border: 7px solid #f67a1f;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(246, 122, 31, 0.2), 0px 0px 0px 15px rgba(246, 122, 31, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(246, 122, 31, 0.2), 0px 0px 0px 15px rgba(246, 122, 31, 0.2);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.single-feature .icon.two i{
  font-size:50px;
  color:#f67a1f;
}
.single-feature:hover .icon.two {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(246, 122, 31, 0.2), 0px 0px 0px 30px rgba(246, 122, 31, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(246, 122, 31, 0.2), 0px 0px 0px 30px rgba(246, 122, 31, 0.2);
}
/*three box*/
.single-feature .icon.three {
    border: 7px solid #bc2cdd;
    border-radius: 50%;
    text-align: center;
    line-height: 110px;
    -webkit-box-shadow: 0px 0px 0px 15px rgba(188, 44, 221, 0.2), 0px 0px 0px 15px rgba(188, 44, 221, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(188, 44, 221, 0.2), 0px 0px 0px 15px rgba(188, 44, 221, 0.2);
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.single-feature .icon.three i{
  font-size:50px;
  color:#bc2cdd;
}
.single-feature:hover .icon.three {
    -webkit-box-shadow: 0px 0px 0px 15px rgba(188, 44, 221, 0.2), 0px 0px 0px 30px rgba(188, 44, 221, 0.2);
    box-shadow: 0px 0px 0px 15px rgba(188, 44, 221, 0.2), 0px 0px 0px 30px rgba(188, 44, 221, 0.2);
}